{% load static %}
{% load filters %}
<div class="text-bg-dark" style="width: 280px; height: 700px;">
    <svg class="bi pe-none me-2" width="40" height="32">
    </svg>
    <span class="fs-1">Меню</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class='nav-item width="16" height="16"'>
            <a href="{% url 'mailsender:home' %}" class='nav-link'>
                Главная
            </a>
        </li>
        <li class='nav-item width="16" height="16"'>
            <a href="#" class='nav-link'>
                Управление клиентами
            </a>
        </li>
        <li class='nav-item width="16" height="16"'>
            <a href="{% url 'mailsender:mailing_management' %}" class='nav-link'>
                Управление рассылками
            </a>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="dropup">
        <a href="#" class="d-flex align-items-center text-white dropdown-toggle"
           data-bs-toggle="dropdown">
            <img src="{% mediapath user.avatar %}" width="32" height="32" class="rounded-circle m-2">
            {% if user.is_authenticated %}
            <strong>{{user.first_name}}</strong>
            {% else %}
            <strong>Пользователь</strong>
            {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
            <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<style>
    /* Применяем стили к пунктам меню и их подменю */
    .nav-item .nav-link {
        color: #fff; /* Белый цвет текста */
    }
</style>
