{% extends 'mailsender/base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        {% include 'mailsender/includes/inc_navbar.html' %}
        <div class="col-2"></div>
        <div class="col-5">
            <div class="card m-3">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Создать рассылку</h2>
                    </div>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <select name="mailing_option">
                        <option value="once">Единоразовая рассылка</option>
                        <option value="every_week">Рассылка раз в неделю</option>
                        <option value="every_month">Рассылка раз в месяц</option>
                    </select>
                    <div class="form-group">
            <label for="{{ mailing_form.mailing_datetime.id_for_label }}">Дата и время рассылки:</label>
            <input type="datetime-local" name="mailing_datetime" value="{{ mailing_form.mailing_datetime.value|default:'' }}" class="form-control" required>
        </div>
                    {{ mailing_form.as_p }}
                    {{ customer_form.as_p }}
                    {{ mail_text_form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}